
#slash-menu-newline {
    position: absolute;
    align-items: center;
    text-align: center;
    color: color(var(--lightgrey) l(-10%));
    background: linear-gradient(
        color(var(--darkgrey) l(-3%)),
        color(var(--darkgrey) l(-8%))
    );
    border-radius: 5px;

    height: 40px;
    width: 40px;
    font-size: 1.6rem;
    line-height: 40px;
    transition: text-shadow 0.3s ease;
}



#slash-menu {
    border:1px solid var(--darkgrey);
    position:absolute;
    background-color: #fff;
    background-clip: padding-box;
    padding:10px;
    box-shadow: rbga(0,0,0,0.10) 0 2px 6px;
    min-width:300px;
    border-radius: 4px;
    display:none;
}
#slash-menu.is-visible {
    animation: slash-menu-fadein 111ms;
}
#slash-menu ul {
    margin:0;
    padding:0;
    list-style: none;
}
#slash-menu ul li button {
    padding:5px;
    width:100%;
    text-align: left;
    font-size:1.3rem;
    border-radius: 4px;
}

#slash-menu ul li button img {
    width:14px;
}

#slash-menu ul li button:hover, .slash-menu ul li button.selected {
    background-color: var(--darkgrey);

}



@keyframes slash-menu-fadein {
    from {
        opacity: 0;
        transform: scale(0.7);
        transform-origin:top;
    }
    to   {
        opacity: 1;
        transform: scale(1);
        transform-origin:top;
    }
}
